*{margin: 0; padding:0; box-sizing: border-box;}
input: focus, button: focus{outline:0}


body{
    font-family: 'Poppins'
  
}
h2{

    font-size: 30px;
    padding: 10px 20px;
    text-align: center;
    background-color: #0085ad;
    color: #fff;
}

#chat-wrap{
    max-width: 600px;
 margin: 30px auto;
 border: 1px solid #ccc;
    border-radius: 5px;
}

#chat-window{
    height: 400px;
    overflow-y: auto;
}

#output p{
  font-size: 15px;
    padding: 12px;
}

#output p:nth-child(even){
    background-color: #0085ad;
}

#feedback{
    font-size: 12px;
    color: #ccc;
}

#output strong{
color: #0085ad;
}

#input{
    padding: 10px 20px;
    border: 0;
    border-top: 1px solid #ccc;
    font-family : 'Poppins';
    display: block;
    width: 100%;
    font-size: 15px;
}
#button {
    padding: 10px 20px;
    border:0;
    border-radius: 0 0 5px 5px;
    margin-bottom: 10px;
    font-family : 'Poppins';
    display: block;
    width: 100%;
    font-size: 15px;
    background-color: #0085ad;
    color: #fff;
    cursor: pointer;
}